/* SignIn.css */
html, body, #root {
    height: 100vh; /* Sets the height of the root app to the viewport height */
    margin: 0;
    overflow: hidden; /* Prevents scrolling on the entire page */
  }
  
  .centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    background-color: #ffffff; /* Optional: background color of the page */
  }
  
  .centered-form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container-row {
    display: flex;
    flex-wrap: nowrap; /* Ensures flex items are kept on a single line */
    height: 100%; /* Ensures the container takes up all available vertical space */
    overflow: hidden; /* Prevents scrolling within the row */
  }
  
  .list-container {
    width: 50%; /* Sets the list container to half the width of its parent */
    overflow: hidden; /* Prevents scrolling within the list container */
  }
  
  .form-container {
    width: 50%; /* Sets the form container to half the width of its parent */
    display: flex; /* Enables flexbox for centering contents */
    justify-content: center; /* Centers the form horizontally */
    align-items: center; /* Centers the form vertically */
    overflow: hidden; /* Prevents scrolling within the form container */
  }
  
  
  @media only screen and (max-width: 576px) {
    .list-container, .form-container {
      width: 100%; /* Each container takes the full width on smaller screens */
    }
  }
  