/* SignIn.css */
.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  background-image: url(herobg.png); /* Optional: background color of the page */
}
