.background-image {
    background-image: url('../../assets/prespage.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 100vw;
    min-height: 100vh;
    position: relative;
}

.centered-container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    text-align: center; /* Ensure text is centered */
    height: 100vh; /* Take up full viewport height */
    position: relative; /* Add this to position relative to its normal position */
}

.info-card {
    max-width: 800px;
    width: 100%;
    margin-top: 20px; /* Push the card down below the <h1> */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.8);
}

.name {
    color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #FFF;
    font-family: "Jacques Francois";
    font-size: 64px;
    font-weight: 400;
    line-height: normal;
    margin: 0; /* Remove any default margin */
}
.button-container {
    display: flex;
    flex-wrap: nowrap;  
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.button-container > button:first-child {
    margin-right: 20px; 
}
