/* signup.css */
.centred-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  background: #f0f2f5; /* Optional background color */
}

.signup-container {
  max-width: 400px;
  width: 100%;
  padding: 2rem;
  margin: auto;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0,0,0,0.1);
}

.signup-title {
  margin-bottom: 1.5rem;
  text-align: center;
  margin-right: 10vw;
}

.site-form-item-icon {
  color: rgba(0, 0, 0, 0.25);
}

.signup-form {
  max-width: 400px;
}

.signup-form-button {
  width: 100%;
  margin-top: 1rem;
}

/* Enhance the look of the input fields */
.ant-input-affix-wrapper:focus, .ant-input-affix-wrapper-focused {
  border-color: #40a9ff;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}

.ant-input-affix-wrapper:hover {
  border-color: #40a9ff;
}

/* Style for the Checkbox */
.ant-checkbox-wrapper:hover .ant-checkbox-inner, .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #40a9ff;
  border-color: #40a9ff;
}

/* Link styling */
a {
  color: #40a9ff;
}

a:hover {
  color: #1890ff;
}
